@{
    ViewData["Title"] = "Home Page";
}
<p>
    <a asp-action="DisplayStudents" class="btn btn-success">Display Students</a>
    <a asp-action="DisplayTeachers" class="btn btn-info">Display Teachers</a>
    <a asp-action="DisplaySubjects" class="btn btn-warning">Display Subjects</a>
    <a asp-action="DisplaySubjectGroups" class="btn btn-warning">Display Subject Groups</a>
</p>
