@{
    ViewData["Title"] = "Home Page";
}
<table class="table">
    <thead>
        <tr>
            <th>User Login</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@message.User.Login</td>
                <td>@message.Text</td>
                <td>@message.DateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
            </tr>
        }
    </tbody>
</table>