@{
    ViewData["Title"] = "Home Page";
}
<a asp-action="DisplayStudents" class="btn btn-info">Display Students</a>
<a asp-action="DisplayTeachers" class="btn btn-info">Display Teachers</a>
<a asp-action="DisplaySubjects" class="btn btn-info">Display Subjects</a>
<a asp-action="DisplaySubjectGroups" class="btn btn-info">Display Subject Groups</a>
<a asp-action="Create" class="btn btn-success">Create Student</a>